.container
{
	background-color: rgb(102, 252, 172);
}
p
{
	font-size: 16px;
	margin-top: 20px;
	color: rgb(255, 0, 0);
}
body
{
	background-image: url("snapshot.png");
	background-position: center;
	background-size: cover;
}
canvas
{
    border-radius: 5px;
	box-shadow: 3px 3px 3px rgb(255, 0, 0);
}
#custom
{
	color: rgb(4, 0, 255);
	font-size: 15px;
}

.maker
{
	font-family: 'Pacifico', cursive;
	font-weight: 500;
	margin-left: 520px;
	bottom: 0;
	position: fixed;
	color: rgb(217, 0, 255);
	font-size: 30px;
}